body{
    font-family: sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 16px;
}

.header,
.footer, 
.hero{
    display: flex;
    background-color: #1f2937;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

li a,
.secondary-text,
.image{
    font-size: 18px;
    color: #e5e7eb;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.image{
    background-color: gray;
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    justify-content: space-between;
}

.secondary-text{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    text-align: center;
}

.information-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}